h1 {
    background-color: hsl(205, 92%, 52%);
    width: 50%;
    height: 100px;
    margin: 2em;
    display: inline;
}
a {
    background-color: hsl(205, 92%, 52%);
    width: 300px;
    height: 300px;
    margin: 2em;
    display: block;
}
#container {
    border: 1px solid black;
    width: 50%;
    margin: auto;
}
#container section {
    width: 400px;
    border: 1px solid red;
    display: inline-block;
}