h1 {
    border-color: aqua;
    border-style: solid groove dotted;
    border-width: 10px;
}
section {
    width: 200px;
    border: 2px solid black;
    margin: 1em; /* margin is space outside the border */
    box-sizing: border-box; /* makes width include border and padding */
    outline: 10px solid red; /* outline is like border but does not affect layout */
    background-image: url("https://static.toiimg.com/thumb/msid-121340289,imgsize-74920,width-400,resizemode-4/the-first-episode-of-demon-slayer-kimetsu-no-yaiba.jpg");
    background-size: cover; /* makes background image cover entire element */
    background-position: center; /* centers background image */
}
/* padding is space between border and content */
 /* * selects everything 
 add id="" to a section/body/p/image to to style in css sheet
to use id you use 
#(name of id) {
    color: red;
} 
.about-me {
    color: red;
}
p + h2 {
    color: purple;
}
 p + h2 means any h2 that directly follows a p */
section > h2 {
    color: green;
}
 /* section > h2 means any h2 that is a direct child of a section */
/* you can use multiple selectors by separating them with commas */
h2, p, body, .about-me {
    font-family: Arial, sans-serif;
}
a:hover {
    color: orange;
}
input:focus::placeholder {
    color: pink;
}
p:first-of-type {
    color: magenta;
}
.about-me p::first-letter {
    font-size: 200%;
}